Praktikum5/ClientService_1295/ClientService_1295/Web References/LayananKonversi/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CelCiusToReamur">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="C" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelCiusToReamurResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CelCiusToReamurResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelCiusToFahrenheit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="C" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelCiusToFahrenheitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CelCiusToFahrenheitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelCiusToKelvin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="C" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelCiusToKelvinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CelCiusToKelvinResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CelCiusToReamurSoapIn">
    <wsdl:part name="parameters" element="tns:CelCiusToReamur" />
  </wsdl:message>
  <wsdl:message name="CelCiusToReamurSoapOut">
    <wsdl:part name="parameters" element="tns:CelCiusToReamurResponse" />
  </wsdl:message>
  <wsdl:message name="CelCiusToFahrenheitSoapIn">
    <wsdl:part name="parameters" element="tns:CelCiusToFahrenheit" />
  </wsdl:message>
  <wsdl:message name="CelCiusToFahrenheitSoapOut">
    <wsdl:part name="parameters" element="tns:CelCiusToFahrenheitResponse" />
  </wsdl:message>
  <wsdl:message name="CelCiusToKelvinSoapIn">
    <wsdl:part name="parameters" element="tns:CelCiusToKelvin" />
  </wsdl:message>
  <wsdl:message name="CelCiusToKelvinSoapOut">
    <wsdl:part name="parameters" element="tns:CelCiusToKelvinResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="CelCiusToReamur">
      <wsdl:input message="tns:CelCiusToReamurSoapIn" />
      <wsdl:output message="tns:CelCiusToReamurSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CelCiusToFahrenheit">
      <wsdl:input message="tns:CelCiusToFahrenheitSoapIn" />
      <wsdl:output message="tns:CelCiusToFahrenheitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CelCiusToKelvin">
      <wsdl:input message="tns:CelCiusToKelvinSoapIn" />
      <wsdl:output message="tns:CelCiusToKelvinSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CelCiusToReamur">
      <soap:operation soapAction="http://tempuri.org/CelCiusToReamur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelCiusToFahrenheit">
      <soap:operation soapAction="http://tempuri.org/CelCiusToFahrenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelCiusToKelvin">
      <soap:operation soapAction="http://tempuri.org/CelCiusToKelvin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CelCiusToReamur">
      <soap12:operation soapAction="http://tempuri.org/CelCiusToReamur" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelCiusToFahrenheit">
      <soap12:operation soapAction="http://tempuri.org/CelCiusToFahrenheit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelCiusToKelvin">
      <soap12:operation soapAction="http://tempuri.org/CelCiusToKelvin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:49277/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:49277/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>